html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    width: 100%;
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: none;
    overflow-x: hidden;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
}

a, a:focus, a:hover{
    text-decoration: none;
}

.white-color{
    color: #ffffff;
}

.dark-orange-background-color{
    background-color: #b99470;
}

.custom-container {
    padding: 0px 10px;
    width: 100%;
}

.h-100-percent{
    height: 100%;
}

.w-100-percent{
    width: 100%;
}

.bg-grey{
    background: #f5f5f5;
}

.text-secondary{
    color: #6a6a6a;
}

.heading-type-a{
    color: #1c1c1c;
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 30px;
    line-height: 38px;
    font-weight: 400;
    font-style: italic;
    text-transform: none;
    text-decoration: none;
}

.heading-type-b{
    color: #1c1c1c;
    text-transform: capitalize !important;
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 40px;
    line-height: 46px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

.heading-type-c{
    color: #1c1c1c;
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    font-style: italic;
    text-transform: none;
    text-decoration: none;
}

.heading-type-d{
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.paragraph-text{
    color: #6a6a6a;
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
}

.paragraph-right-side-image{
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 0;
    display: inline-block;
    width: 250px!important;
}

.paragraph-left-side-image{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 0;
    display: inline-block;
    width: 250px!important;
}

.paragraph-right-side-big-image{
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 0;
    display: inline-block;
    width: 300px!important;
}

.paragraph-left-side-big-image{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 0;
    display: inline-block;
    width: 300px!important;
}

.bottom-border{
    border-bottom: 1px solid #dddddd;
}

.top-border{
    border-top: 1px solid #dddddd;
}

.email-link{
    color: #c19b76;
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
}

.email-link:hover{
    color: #999999;
    text-decoration: none;
}

.heading-type-3{
    color: #1c1c1c;
    font-size: 35px;
    line-height: 35px;
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.heading-type-3:hover{
    color: #b99470;
}