/* header css */
.fixed-header{
    /* position: fixed; */
    width: 100%;
    z-index: 9999;
    background: #ffffff;
    position: sticky;
    top: 0px;
}

.bg-light {
    background-color: #fff!important;
}
.navbar-light .navbar-nav .nav-link {
    padding-left: 14px;
    padding-right: 14px;
    color: #000;
    font-size: 16px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #c19b76;
}

.nav-icon{
    font-size: 22px;
    cursor: pointer;
    height: 100%;
    flex-wrap: wrap;
    position: relative;
    align-content: center;
}

.fixed-header .header_mid{
    height: 70px;
    width: 100%;
    transition: height 0.3s linear;
}
.header-top-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.header_mid .icon-wrapper {
    /* width: 300px; */
    margin: 5px;
    /* height: 80px; */
}

.header_mid .icon-wrapper img {
    width: auto;
    height: 100%;
    margin-right: 15px;
}

.header-book-now-btn{
    height: 100%;
    display: flex;
    position: relative;
    padding: 0 40px;
    background-color: #b99470;
    color: #ffffff;
    font-size: 16px;
    align-content: center;
    flex-wrap: wrap;
    transition: background-color .3s ease-in-out;
}

.header-book-now-btn:hover{
    background-color: #0b0c0f;
}

.header-search-icon{
    height: 100%;
    display: flex;
    position: relative;
    padding: 0 15px;
    font-size: 14px;
    align-content: center;
    flex-wrap: wrap;
    color: #0b0c0f;
}

.header-search-icon:hover{
    color: #b99470;
}

/* header css */
.sidenav {
    height: auto;
    width: 0;
    position: fixed;
    z-index: 999;
    top: auto;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
    text-align: left;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #aaaaaa;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
}
  .sidenav a:hover{
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
 
.header-dropdown{
    background: rgb(0, 0, 0);
}

.header-dropdown a{
    color: #aaaaaa;
    background: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 20px;
}

.header-dropdown a:hover{
    color: #c19b76;
    background: rgb(0, 0, 0);
}

.header-logo-wrapper{
    text-align: center;
} 

.header-logo-wrapper img{
    height: 100px;
    width: auto;
    margin: 15px 10px;
    margin-top: 0;
}

 /* header css */

 /* homepage second section css */

 #homepage-layerslider .first-para{
    letter-spacing:1.6px!important;
    font-family:Roboto;
    font-size:20px!important;
    color:#ffffff; 
    text-transform: uppercase;
    text-align: center;
    width: unset!important;
    height: unset!important;
    top: unset!important;
    left: unset!important;
    white-space: normal;
 }  

 #homepage-layerslider .ls-wrapper{
    width: 100%!important;
 }
 #homepage-layerslider .ls-wrapper.ls-in-out{    
    left: unset!important;
    top: 196!important;
    height: unset!important;
 }
 #homepage-layerslider .second-para{
    color:#ffffff!important; 
    text-transform: capitalize;
    font-family: 'Herr Von Muellerhoff' , cursive;
    font-size: 100px!important;
    line-height: 80px!important;
    font-style: normal;
    color: #dedede!important;
    text-align:center;
    width: unset!important;
    height: unset!important;
    top: unset!important;
    left: unset!important;
    margin-top: 60px!important;
    white-space: normal;
 }

 /* homepage second section css */

 /* homepage third section css */
 .cmsmasters_heading {
    font-family: 'Herr Von Muellerhoff';
    font-size: 100px;
    line-height: 100px;
    font-style: normal;
    color: #dedede;
}

.video-wrap {
    height: 200px;
}

.cormorant_heading {
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 40px;
    line-height: 46px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 0px;
}

.featured_block_inner {
    color: #878787;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
}

.fb {
    line-height: 66px;
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 24px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    font-style: italic;
    text-transform: none;
}

.stamp-wrap img{
    height: 160px;
}

/* homepage third section css */


/* home page fourth section css */
.homepage-third-section .row_outer_parent {
    /* padding: 60px 0px 30px 0px; */
    padding: 0px 15px 0px 15px;
    background: #f5f5f5;
}

.fourth-section h4 a{
    font-size: 28px;
    line-height: 38px;
    color: #c19b76;
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif!important;
    font-weight: 400;
    font-style: italic!important;
    text-transform: none;
    text-decoration: none;
}

.fourth-sec-img-wrap img{
    height: 100%;
    width: 100%;
    object-fit: cover; position: relative;
}
.sixth-section h3 {
    font-family: 'Herr Von Muellerhoff';
    font-size: 100px;
    line-height: 100px;
    font-style: normal;
    color: #d5d5d5;
}

#page:after, #middle:after, .middle_inner:after, .middle_content:after, #bottom:after, .bottom_bg:after, .content_wrap:after, .cmsmasters_row_inner:after, .cmsmasters_row_margin:after, .cmsmasters_column_inner:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}
#cmsmasters_heading_jmaykcvty .cmsmasters_heading, #cmsmasters_heading_jmaykcvty .cmsmasters_heading a {
    font-size: 27px;
    text-align: center;
    line-height: 38px;
    color: #fff;
}
#cmsmasters_one_img {
    padding-top: 355px;
    padding-bottom: 275px;
    background-image: url(../images/dis.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
#cmsmasters_two_img {
    padding-top: 355px;
    padding-bottom: 275px;
    background-image: url(../images/beaches.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
#cmsmasters_three_img {
    padding-top: 355px;
    padding-bottom: 275px;
    background-image: url(../images/golf.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

#cmsmasters_four_img {
    padding-top: 355px;
    padding-bottom: 275px;
    background-image: url(../images/fishing.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.copyright p{
    color: rgba(255,255,255,0.2);
    font-size: 18px;
}

footer .fa{
    color: #a98868;
}

footer h3{
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}


.hall-of-fame-img {
    height: auto;
    width: 150px;
}
footer hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #dddddd78;
}

footer a{
    color: #fff;
}

footer h6{
    color: #fff;
}

footer{
    background-color: #151515;
}
.sixth-section{
    padding: 100px 0px;
}
.sixth-section .cmsmasters_text p{
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    color: #6a6a6a;
}
.sixth-section h5 {
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    color: #6a6a6a;
}
.sixth-section h2 {
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 60px;
    line-height: 60px;
    color: #000;
    margin-top: 0px;
}

.fifth-section .row_outer_parent {
    padding: 65px 0px;
    background: #f5f5f5;
}
.fifth-section h3{
    font-family: 'Herr Von Muellerhoff';
    font-size: 100px;
    line-height: 170px;
    font-style: normal;
    color: #d5d5d5;
}
.fifth-section h5{
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    color: #6a6a6a;
}
.fifth-section .featured-block-outer {
  
    width: 100%;
    height: 100%;
}
.fifth-section .featured-block-inner {
    width: 100%;
    float: left;
    padding: 30px 15px 30px 15px;
    color: #6a6a6a;
    font-size: 17px;
    font-weight: 300;
    background: #ffffff;
    line-height: 1.7;
}
.fifth-section .cmsmasters_button {
    background-color: #c19b76;
    color: #ffffff;
    border-width: 1px;
    padding: 12px 30px;
    border-style: solid;
    text-transform: uppercase;
    border-radius: 0;
    margin: 30px 12px;
    outline: none;
}
.fifth-section h2 {
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 40px;
    line-height: 46px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 60px;
    line-height: 60px;
    color: #000;
    margin-top:     0px;
}
.fourth-section h5 {
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 42px;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    line-height: 46px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    transform: translate(-50%, -50%);
}

.fourth-sec-img-wrap{
    height: 620px;
    width: auto;
}

.homepage-third-section .column-inner-container{
    margin: 0px 0px;
    width: 100%;
    height: 100%;
}
.homepage-third-section .featured-block-outer {
    background: #ffffff;
    width: 100%;
    height: 270px;
}
.homepage-third-section .featured-block-inner {
    width: 100%;
    float: right;
    padding: 30px 10px 0;
    color: #6a6a6a;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.7;
}
.homepage-third-section .devider{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-top: 50px;
    margin-bottom: 50px;
    border-color: #dddddd;
}

.slick-slider-a-container{
    width: 415px;
    height: 300px;
    overflow: hidden;
}

.homepage-third-section .slick-slider-a-container{
    width: unset;
    height: unset;
    overflow: hidden;
}

.slick-slider-a-container .slide{
    width: 100%;
    height: 100%;
}

.slick-slider-a-container .slide img{
    width: 100%;
    height: 100%;
}

.slick-slider-a-container .slick-arrow{
    position: absolute;
    top: 45%;
    background: #ffffff;
    padding: 10px 15px;
    color: black;
    z-index: 1;
}

.slick-slider-a-container .slick-arrow.left-arrow{
    left: -50px;
    transition: left 0.5s linear;
}

.slick-slider-a-container .slick-arrow.right-arrow{
    right: -50px;
    transition: right 0.5s linear;
}

.slick-slider-a-container:hover .slick-arrow.left-arrow{
    left: 20px;
    transition: left 0.5s linear;
}   

.slick-slider-a-container:hover .slick-arrow.right-arrow{
    right: 20px;
    transition: right 0.5s linear;
}    

/* home page fourth section css */

.homepage-fifth-section .column-inner-container{
    height: unset;
    padding: 0px 0px;
    width: unset;
}

.homepage-fifth-section .featured-block-outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#homepage-section-4-slider{
    height: unset;
    width: unset;
}

/* homepage seventh section css */
.seventh-section .inner-container{
    margin: 0px 15%;
    background-color: #f5f5f5;
    padding: 4% 4%;
}

.seventh-section .image-container{
    padding: 50px 30px;
    background: url(../images/Scotland.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.seventh-section .image-container .overlay{
    background: rgba(0,0,0,0.4);
    padding: 50px;
    text-align: center;
}

.seventh-section .image-container .overlay .overlay-heading{
    font-size: 27px;
    line-height: 38px;
    color: #ffffff;
}

.seventh-section .image-container .overlay .overlay-paragraph{
    text-align: center;
    margin: 30px 0px;
    color: #fff;
}
.seventh-section .image-container .overlay .overlay-button a{
    background: #b99470;
    text-decoration: none;
    color: #fff;
    padding: 12px 20px;
}
/* homepage seventh section css */

/* eight section css */
.homepage-eight-section h3{
    font-family: 'Herr Von Muellerhoff';
    font-size: 100px;
    line-height: 100px;
    font-style: normal;
    color: #d5d5d5;
}

.homepage-eight-section h2{
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 40px;
    line-height: 46px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 60px;
    line-height: 60px;
    color: #000;
    margin-top: 00px;
}

.testimonial-slider{
    margin-right: auto;
    width: 80%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: auto;
    outline: none;
    margin-bottom: 40px;
}

.testimonial-slider .slide{
    padding: 0px 110px;
    width: 100%;
}

.testimonial-slider .blockquote-place-holder{
    display: inline-block;
    position: relative;
    height: 100px;
    width: 100px;
    text-align: center;
}

.testimonial-slider .blockquote-place-holder::before{
    font-size: 120px;
    line-height: 170px;
    color: #c19b76;
    content: '\201C';
    width: 100px;
    height: 100px;
    margin: auto !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.testimonial-slider .slick-arrow {
    position: absolute;
    top: 40%;
    color: #999999;
    font-size: 50px;
    z-index: 1;
}

.testimonial-slider .slick-arrow:hover{
    color: #b99470;
}

.testimonial-slider .slick-arrow.left-arrow{
    left: 0;
}

.testimonial-slider .slick-arrow.right-arrow{
    right: 0;
}

.testimonial-slider .review-para{
    font-size: 24px;
    line-height: 36px;
    color: #1c1c1c;
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: 400;
    font-style: italic;
}

.testimonial-slider .quote_header{
    margin-top: 10px;
}

.testimonial-slider .quote_header .quote-title{
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: #1c1c1c;
    margin: 0;
}

.testimonial-slider .quote_header .quote-subtitle{
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: #c19b76;
}

.testimonial-slider .quote_header .quote-site{
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    display: block;
}

.testimonial-slider .slider-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: unset!important;
}

.emojis{
    height: 20px;
    width: 20px;
    display: inline-block!important;
}

/* eight section css */

/* ninth section css */
.post-slider .publish-date{
    color: #999999;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
}
.post-slider .post-title a{
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    color: #1c1c1c;
    text-decoration: none;
}

.post-slider .post-title a:hover{
    color: #c19b76;
}

.post-slider .post-likes{
    text-align: right;
}

.post-slider .post-likes a{
    color: #6a6a6a;
    font-size: 16px;
    line-height: 22px;
    padding: 0 0 0 5px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    transform: color 0.2s linear;
}

.post-slider .post-likes a:hover{
    color: #c19b76;
}

.post-slider .slider-inner-container {
    width: 100%;
    padding: 40px 20px;
    margin-bottom: 60px;
}

.post-slider .image-container img{
    width: 100%;
    height: auto;
}

.post-slider .post-devider{
    color: #dddddd;
}

.post-slider .post-description{
    margin-top: 30px;
    color: #6a6a6a;
}

.post-slider .read-more-btn{
    color: #999999;
    font-size: 20px;
    line-height: 34px;
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: 400;
    font-style: italic;
    text-transform: none;
}

.post-slider .read-more-btn:hover{
    color: #1c1c1c;
    text-decoration: none;
}

.post-slider .slider-arrow{
    color: #1c1c1c;
    background: #ffffff;
    padding: 10px 18px;
    position: absolute;
    bottom: 30px;
    z-index: 1;
    border: 0.3px solid #e9ecef;
    transition: color 0.2s linear;
}

.post-slider .slider-arrow:hover{
    color: #ffffff;
    background: #b99470;
}

.post-slider .slider-arrow.left-arrow{
    left: 45%;
}

.post-slider .slider-arrow.right-arrow{
    right: 45%;
}
/* ninth section css */

/****************************
** our restaurant page css **
*****************************/

/* section 1 css */
.our-restaurant-section1{
    background: url(../images/Main-Restaurant-Header-Photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 450px;
    width: 100%;   
}

.banner-title{
    color: #ffffff;
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 50px;
    line-height: 58px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    word-wrap: break-word;
    text-align: center;
}

.booking-recommended-text span{
    background: #b99470;
    color: #fff;
    padding: 12px 20px;
}

.our-restaurant-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.banner-breadcrumb{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.experience-highlands h2{
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: #1c1c1c;
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: 400;
    font-style: italic;
    text-transform: none;
    text-decoration: none;
}
.experience-highlands p{
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
}
.banner-breadcrumb .breakcrumb-text{
    color: #ffffff;
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.banner-breadcrumb span.breakcrumb-text{
    color: rgba(255, 255, 255, 0.8);
}
/* section 1 css */

/* section 2 css */
.our-restaurant-section2 .image-container{
    margin: 55px 106px;
}

.our-restaurant-section2 .image-container img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* section 2 css */


/* section 3 css */
.section-header h3{
    font-family: 'Herr Von Muellerhoff';
    font-size: 100px;
    line-height: 100px;
    font-style: normal;
    color: #d5d5d5;
}

.section-header h2{
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 60px;
    line-height: 60px;
    color: #000;
    margin-top: 0px;
}

.section-header h5{
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    color: #6a6a6a;
}

.our-restaurant-section3 .image-container img{
    width: 100%;
    height: auto;
}

.our-restaurant-section3 .image-container .menu-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 15px;
    flex-direction: column;
    justify-content: center;
}

.our-restaurant-section3 .image-container .menu-container h2 {
    color: #ffffff;
    font-size: 44px;
    line-height: 38px;
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    background: rgba(0,0,0,0.5);
    padding: 4px 45px;
    text-align: center;
    cursor: pointer;
}
img.mfp-img {
    width: auto;
    max-width: 100%;
    height: 100%!important;
    display: block;
    line-height: 0;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto;
}

#lunchmenumodal .modal-body img{
    width: 100%;
}

#dinnermenumodal .modal-body img{
    width: 100%;
}

/* section 3 css */

#our-restaurant-second-slider.slick-slider-a-container{
    width: 100%;
    height: 350px;
    overflow: hidden;
}

#homepage-section-exp-slider.slick-slider-a-container{
    width: 100%;
    height: 350px;
    overflow: hidden;
}

#our-guest-room-section-1-slider.slick-slider-a-container{
    width: 100%;
    height: 350px;
    overflow: hidden;
}

#beaches-and-walking-trails-section-1-slider.slick-slider-a-container{
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.restaurant-timings h4{

    font-size: 28px;
    line-height: 38px;
    color: #1c1c1c;
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: 400;
    font-style: italic;
    text-transform: none;
    text-decoration: none;
}
.our-restaurant-section3 .second-slider img{
    width: 100%;
}
.our-restaurant-section3 ul img{
    width: 100%;
    height: auto;
 }
.our-restaurant-section3 ul{
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    -moz-column-count: 4;
    -moz-column-gap: 0px;
    column-count: 3;
    column-gap: 20PX;
    padding-inline-start: 0;
    list-style-type: none;
}

/* section 3 css */


.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}


/****************************
**    Contact us css       **
*****************************/

/* section 1 css */
.contact-us-section1{
    background: url(../images/contact-Us.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 450px;
    width: 100%;   
}
/* section 1 css */

/* section 2 css */
.contact-us-section2 .our-contact-heading{
    color: #1c1c1c;
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 30px;
    line-height: 38px;
    font-weight: 400;
    font-style: italic;
    text-transform: none;
    text-decoration: none;
}

.contact-us-section2 .type-1{
    color: #6a6a6a;
}

.contact-us-section2 .icon{
    color: #c19b76;
    font-size: 18px;
    margin-right: 10px;
}

.contact-us-section2 .type-2 a{
    color: #c19b76;
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
}

.contact-us-section2 .type-2:hover{
    color: #6a6a6a;
}

/* section 2 css */


/****************************
**    About us css         **
*****************************/
/* section 1 css */
.about-us-section1{
    background: url(../images/about-new-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 450px;
    width: 100%;   
}

.banner-title{
    color: #ffffff;
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 50px;
    line-height: 58px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    word-wrap: break-word;
    text-align: center;
}
/* section 1 css */

/* section 2 css */
.about-us-section2 img{
    width: 100%;
    height: auto;
}
/* section 2 css */


/****************************
**    Our GuestRooms css   **
*****************************/
/* section 1 css */

.out-guest-room-section1{
    background: url(../images/Main-Header-Photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 450px;
    width: 100%;   
}

.our-guest-room-section2 .column-inner-container{
    padding: 25px 0px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.checkout-btns{
    padding: 8px 16px;
    border: 2px solid #1c1c1c;
}

.book-now-btn{
    background-color: #c19b76;
    color: #ffffff;
    border-width: 1px;
    padding: 12px 30px;
    border-style: solid;
    text-transform: uppercase;
    border-radius: 0;
    margin: 30px 12px;
    text-decoration: none;
}

.book-now-btn:hover{
    background-color: #1c1c1c;
    color: #ffffff;
    border-radius: 0;
    /* margin: 30px 12px; */
    text-decoration: none;
}

/* section 1 css */


/****************************
**     Our Setting css     **
*****************************/
/* section 1 css */
.our-setting-section1{
    background: url(../images/setting-new-banner-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 450px;
    width: 100%;   
}
/* section 1 css */

/* section 2 css */
.our-setting-section2 iframe{
    width: 100%;
}
/* section 2 css */

/* section 3 css */
.our-setting-section3 .content-container{
    text-align: center;
    margin-bottom: 40px;
}
/* section 3 css */


/****************************
**   distilleries page css  **
*****************************/
/* section 1 css */
.distilleries-section1{
    background: url(../images/Distelleries.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 450px;
    width: 100%; 
}
/* section 1 css */

/* section 3 css */
.distilleries-section3 .content-container{
    text-align: center;
    margin-bottom: 40px;
}
/* section 3 css */

/****************************
**   histotical sites page css  **
*****************************/
/* section 1 css */
.historical-sites-section1{
    background: url(../images/Scotland_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 450px;
    width: 100%; 
}
/* section 1 css */

/* section 3 css */
.historical-sites-section3 .content-container{
    text-align: center;
    margin-bottom: 40px;
}
/* section 3 css */


/****************************************
** beaches and walking trails page css **
*****************************************/
/* section 1 css */
.beaches-and-walking-trails-section1{
    background: url(../images/RoseIlse_Beach_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 450px;
    width: 100%; 
}
/* section 1 css */

/* section 2 css */
.historical-sites-section2 .slick-slider-a-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* section 2 css */

/* section 3 css */
.beaches-and-walking-trails-section3 .content-container{
    text-align: center;
    margin-bottom: 40px;
}
/* section 3 css */

/****************************
**   distilleries page css  **
*****************************/
/* section 1 css */
.golf-courses-section1{
    background: url(../images/golf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 450px;
    width: 100%; 
}
/* section 1 css */

/* section 3 css */
.golf-courses-section3 .content-container{
    text-align: center;
    margin-bottom: 40px;
}
/* section 3 css */


/************************************
**   fishing ans sailing page css  **
*************************************/
/* section 1 css */
.fishing-and-sailing-section1{
    background: url(../images/sailing-Header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 450px;
    width: 100%; 
}
/* section 1 css */

/* section 3 css */
.fishing-and-sailing-section3 .content-container{
    text-align: center;
    margin-bottom: 40px;
}
/* section 3 css */

/************************************
**   fishing and sailing page css  **
*************************************/
/* section 1 css */
.reservation-section1{
    background: url(../images/reservation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 450px;
    width: 100%; 
}
/* section 1 css */

/* section 2 css */
.reservation-section2 .booking-main-heading{
    color: #1c1c1c;
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 40px;
    line-height: 46px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
}
/* section 2 css */

/************************************
**   article detail page css  **
*************************************/
/* section 1 css */
.one-year-on{
    /* background: url(../images/reservation.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
    position: relative;
    background: rgb(0 0 0 / 81%);
    height: 450px;
    width: 100%; 
}
/* section 1 css */


/* section 2 css */
.article-date-text{
    color: #999999;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
}

.article-like-text{
    font-size: 16px;
    line-height: 26px;
    font-style: normal;
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: 400;
    text-transform: none;
    color: #6a6a6a;
}

.article-container{
    width: 100%;
    height: fit-content;
}

#article-main-slider{
    width: 100%!important;
    height: 100%!important;
    overflow: hidden;
}

#article-main-slider .slide{
    height: unset!important;
}

#article-main-slider .slide img{
    /* object-fit: cover; */
    height: auto!important;
}

.article-section-2 .social-link-container{
    width: 100%;
}

.article-section-2 .social-link-container h3{
    color: #1c1c1c;
    font-size: 22px;
    line-height: 28px;
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.article-section-2 .social-link-container a{
    transition: color 0.3s ease-in-out;
    color: #6a6a6a;
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 30px 0 0;
    position: relative;
    outline: 0;
}

.article-section-2 .social-link-container a:hover{
    color: #c19b76;
    text-decoration: none;
}

.article-section-2 .social-link-container a:last-child{
    margin-right: 0;
}

.article-section-2 .post-nav .arrows{
    color: #1c1c1c;
    font-size: 13px;
    line-height: 26px;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    border-color: #dddddd;
    background: #ffffff;
    border: 1px solid #dddddd;
    padding: 5px 17px;
}

.article-section-2 .post-nav .arrows:hover{
    color: #c19b76;
    text-decoration: none;
}

.article-section-2 .post-nav .small-text{
    font-size: 16px;
    line-height: 20px;
    color: #6a6a6a;
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    transition: color 0.3s ease-in-out;
}

.article-section-2 .post-nav .small-text:hover{
    color: #1c1c1c;   
}

.article-section-2 .post-nav .title{
    transition: color 0.3s ease-in-out;
    color: #1c1c1c;
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    outline: 0;
}

/*
.article-section-2 .post-nav .left-title{
    margin-left: 58px;
}

.article-section-2 .post-nav .right-title{
    margin-right: 58px;
}*/

.article-section-2 .post-nav .title:hover{
    color: #c19b76;   
}

.article-section-2 .more-post-slider .main-heading{
    font-size: 24px;
    line-height: 30px;
    color: #1c1c1c;
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.article-section-2 .more-post-slider{
    height: fit-content;
}

.article-section-2 .more-post-slider .slide{
    padding: 10px 10px;
}

.article-section-2 .more-post-slider .image-container{
    width: 100%;
}

.article-section-2 .more-post-slider .image-container img{
    width: 100%;
    height: 250px;
}

.article-section-2 .more-post-slider .main-heading:hover{
    color: #6a6a6a;
    text-decoration: none;
}

.article-section-2 #article-second-slider .slick-arrow{
    color: #1c1c1c;
    font-size: 13px;
    line-height: 26px;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    border-color: #dddddd;
    background: #ffffff;
    border: 1px solid #dddddd;
    padding: 5px 17px;
    position: absolute;
    top: -34px;
    cursor: pointer;
    z-index: 2;
}

.article-section-2 #article-second-slider .slick-arrow.right-arrow{
    right: 5px;
}

.article-section-2 #article-second-slider .slick-arrow.left-arrow{
    right: 60px;
}

.comment-form-section{
    width: 100%;
}

.comment-form-section label{
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    color: #6a6a6a;
}

.comment-form-section input[type="text"], .comment-form-section textarea{
    width: 100%;
    transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    border-color: #dddddd;
    background-color: #f5f5f5;
    color: #999999;
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
    padding: 10px 15px;
    max-width: 100%;
    border-width: 1px;
    border-style: solid;
}

.comment-form-section input[type="text"]:focus, .comment-form-section textarea:focus{
    box-shadow: inset 0 0 0 1px #c19b76;
    transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    border-color: #c19b76;
    outline: none;
}

.comment-form-section button{
    transition: all .4s ease-in-out;
    border-color: #dddddd;
    color: #ffffff;
    background-color: #c19b76;
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    line-height: 50px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 35px;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    text-align: center;
    border-width: 0;
    border-style: solid;
    border-radius: 0px;
}

.comment-form-section button:hover{
    background-color: #1c1c1c;
}

.search-form-container{
    width: 100%;
    position: relative;
}

.search-form-container input{
    width: 100%;
    transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    border-color: #dddddd;
    background-color: #f5f5f5;
    color: #999999;
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
    padding: 10px 15px;
    max-width: 100%;
    border-width: 1px;
    border-style: solid;
}

.search-form-container input:focus{
    box-shadow: inset 0 0 0 1px #c19b76;
    transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    border-color: #c19b76;
    outline: none;
}

.search-form-container button{
    position: absolute;
    top: 18px;
    right: 6px;
    background: transparent;
    border: unset;
    color: #6a6a6a;
    font-size: 12px;
    outline: none;
}

.blog-sub-heading{
    font-size: 14px;
    line-height: 24px;
    color: #6a6a6a;
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.blog-sub-heading:hover, .blog-sub-heading.active{
    color: #c19b76;
}

.side-blog-list{
    padding-inline-start: 0;
    list-style: none;
    padding: 20px 10px;
}

.side-blog-list .image-container{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

.side-blog-list .image-container img{
    height: 100%;
    width: 100%;
}

.side-blog-list .text-container .blog-title-heading{
    color: #c19b76;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    transition: color 0.3s ease-in-out;
}

.side-blog-list .text-container .blog-title-heading:hover{
    color: #6a6a6a;
}

.side-blog-list .text-container .date-text{
    color: #999999;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
}

.side-blog-list li{
    padding: 10px 0px;
}

.side-blog-category-container ul, .side-contact-container ul{
    padding-inline-start: 0;
    list-style: none;
    padding: 20px 10px;
}

.side-blog-category-container ul li{
    border-bottom: 1px solid #dddddd;
    padding: 5px 0px;
}

.side-blog-category-container ul li a{
    color: #6a6a6a;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    outline: none;
    text-decoration: none;
}

.side-blog-category-container ul li a:hover{
    color: #c19b76;
    text-decoration: none;
}

.side-contact-container li{
    padding: 10px 0px;
}

.side-contact-container li a{
    transition: color 0.3s ease-in-out;
    color: #6a6a6a;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    outline: none;
    text-decoration: none;
}

.side-contact-container li a:hover{
    text-transform: none;
    color: #c19b76;
}

.side-contact-container .icon{
    font-size: 16px;
    line-height: 18px;
    color: #c19b76;
    margin-right: 10px;
}
/* section 2 css */

.one-year-on{
    /* background: url(../images/reservation.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
    position: relative;
    background: rgb(0 0 0 / 81%);
    height: 450px;
    width: 100%; 
}

.blog-category-section2 .item-type-title{
    color: #999999;
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
}

.blog-category-section2 .image-container{
    height: 250px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.blog-category-section2 .image-container img{
    width: 100%;
    height: 100%;
}

.blog-category-section2 .article-like-text{
    color: #6a6a6a;
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
}

.blog-category-section2 .article-like-text a{
    color: #1c1c1c;
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.blog-category-section2 .article-like-text a:hover{
    color: #c19b76;
}

#slide-top{
    transition: background-color .3s ease-in-out, color .3s ease-in-out, border-color .3s ease-in-out;
    border-color: #dddddd;
    background-color: #f5f5f5;
    color: #1c1c1c;
    text-align: center;
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 9999;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    outline: 0;
    padding: 15px 15px;
    display: none;
}

#slide-top:hover{
    color: #ffffff;
    background-color: #c19b76;
}

#big-search-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 9999;
    display: none;
}

#big-search-container .search-outer-container{
    height: 100%;
    width: 100%;
    position: relative;
}

#big-search-container .search-outer-container .close-icon{
    position: absolute;
    top: 45px;
    right: 50px;
    color: #ffffff;
    font-size: 75px;
    cursor: pointer;
}

#big-search-container .search-inner-container{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

#big-search-container .search-inner-container .search-input{
    width: 100%;
    height: 80px;
    font-size: 60px;
    line-height: 70px;
    color: #ffffff;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
    background: transparent;
    border: unset;
    outline: none;
    text-align: center;
}

#big-search-container .search-inner-container .search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 1; /* Firefox */
  }
  
  #big-search-container .search-inner-container .search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffffff;
  }
  
  #big-search-container .search-inner-container .search-input::-ms-input-placeholder { /* Microsoft Edge */
    color: #ffffff;
  }

#big-search-container .search-inner-container .search-input:focus,
#big-search-container .search-inner-container .search-input:hover{
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    border-left: 0;
    border-right: 0;
    outline: none;
}

.wp-block-image img{
    width: 100%;
}

#article-main-slider .slide iframe{
    width: 100%;
}


.december-festive-menus-out{
    background: url(../images/artical_slider_images/IMG_0237.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 450px;
    width: 100%;    
}

.mashie-on-the-links-banner{
    background: url(../images/artical_slider_images/IMG_0644.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 450px;
    width: 100%;
}

.room-detail-main-heading{
    color: #1c1c1c;
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 40px;
    line-height: 46px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: baseline;
    outline: none;
}

.room-detail-main-para{
    color: #999999;
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
    font-style: italic;
    text-transform: none;
    text-decoration: none;
}

.room-main-text-main-container{
    min-width: 125px;
}

.room-rating-star{
    color: #ab8866;
    display: block;
}

.room-main-price{
    color: #c19b76;
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    font-style: normal;
    text-transform: none;
    text-decoration: none;
}

.room-detail-description{
    width: 100%;
}

.room-detail-description .room-category-link{
    color: #1c1c1c;
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.room-detail-description .room-category-link:hover{
    color: #c19b76;
    text-decoration: none;
}

.room-description-main-heading{
    color: #c19b76;
    font-size: 22px;
    line-height: 28px;
    font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    margin-top: 35px;
}

.room-description-main-heading::after{
    content: '';
    display: block;
    width: 140px;
    margin: 0;
    height: 2px;
    position: absolute;
    left: 15px;
    right: 15px;
    background-color: #c19b76;
    clear: both;
}

.room-detail-description .room-detail-table-list{
    list-style-type: none;
    padding-inline-start: 0px;
}

.room-detail-description .room-detail-table-list li{
    border-bottom: 1px solid #dddddd;
    padding: 10px 0px;
}

.room-detail-description .room-detail-table-list li:last-child{
    border: 0;
}

.room-detail-description .room-detail-table-list .table-content{
    font-family: 'Dosis', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    color: #6a6a6a;
}

.spinnaker-room-banner{
    background: url(../images/artical_slider_images/IMG_0640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 450px;
    width: 100%;   
}