@media screen and (max-width:1024px) {
    .hall-of-fame-img {
        height: auto;
        width: auto;
    }
    .header_mid .icon-wrapper {
        /* width: 80px; */
        margin: 5px;
        height: auto;
        float: left;
    }
    .slick-slider-a-container {
        width: 326px;
        height: 275px;
        overflow: hidden;
    }
    .homepage-third-section .devider {
        border-bottom-width: 1px;
        border-bottom-style: solid;
        margin-top: 35px;
        margin-bottom: 35px;
        border-color: #dddddd;
    }
    .post-slider .slider-arrow.left-arrow{
        left: 42%;
    }
    
    .post-slider .slider-arrow.right-arrow{
        right: 42%;
    }
}

@media screen and (max-width: 991px){
    img.mfp-img {
        width: auto;
        max-width: 100%;
        height: 400px!important;
        display: block;
        line-height: 0;
        box-sizing: border-box;
        padding: 40px 0 40px;
        margin: 0 auto;
    }
    .hall-of-fame-img {
        height: auto;
        width: 130px;
    }
    .fourth-sec-img-wrap img {
        height: 100%;
        width: 100%;
        object-fit: fill;
        position: relative;
    }
    .fourth-sec-img-wrap {
        height: 430px;
        width: auto;
    }
    .slick-slider-a-container {
        width: 100%;
        height: 475px;
        overflow: hidden;
    }

    .homepage-third-section .slick-slider-a-container {
        width: unset;
        overflow: hidden;
        height: 475px;
    }

    .book-now-btn{
        background-color: #b99470;
        width: max-content;
        padding: 12px 50px;
        margin: auto;
        color: #fff;
    }
    .icon-wrapper img{
        width: 100%;
    }
    .icon-wrapper {
        width: 400px;
        display: block;
        margin: auto;
        margin-bottom: 0px;
    }
    .sidenav{
        position: absolute;
        /* display: none; */
    }
    #homepage-layerslider{
        height: 550px;
    }
    #homepage-layerslider .second-para{
        font-size: 65px!important;
        line-height: 65px!important;
        margin-top: 35px!important;
    }
    #homepage-layerslider .ls-wrapper.ls-in-out {
        left: unset!important;
        top: 200px!important;
        height: unset!important;
    }
    #homepage-layerslider .first-para{
        font-size: 14px!important;
    }
    .custom-container {
        padding: 0px 15px;
        width: 100%;
    }
    .homepage-third-section .row_outer_parent {
        padding: 15px 0px;
        background: #f5f5f5;
    }
    .homepage-third-section .column-inner-container {
        margin: 10px 0px;
        width: 94%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .seventh-section .inner-container {
        margin: 0px 6%;
        background-color: #f5f5f5;
        padding: 4% 4%;
    }
    .testimonial-slider{
        width: 100%;
    }
    .testimonial-slider .slide{
        padding: 0px 70px;
    }
    .post-slider .slider-arrow.left-arrow{
        left: 40%;
    }
    
    .post-slider .slider-arrow.right-arrow{
        right: 40%;
    }
    .post-slider .slider-inner-container {
        width: 100%;
        padding: 40px 20px;
        margin-bottom: 40px;
    }
    .our-restaurant-section2 .image-container {
        margin: 50px 30px;
    }
    .our-restaurant-section2 .image-container img {
        width: 100%;
    }
}

@media screen and (max-width:767px){
    .fifth-section h3 {
        font-family: 'Herr Von Muellerhoff';
        font-size: 90px;
        line-height: 100px;
        font-style: normal;
        color: #d5d5d5;
    }
    .fifth-section h2 {
        font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
        font-size: 40px;
        line-height: 46px;
        font-weight: 400;
        font-style: normal;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 48px;
        line-height: 60px;
        color: #000;
        margin-top: 0px;
    }
    .fifth-section .cmsmasters_button {
        background-color: #c19b76;
        color: #ffffff;
        border-width: 1px;
        padding: 12px 30px;
        border-style: solid;
        text-transform: uppercase;
        border-radius: 0;
        margin: 20px 10px;
    }
    .fourth-section h5 {
        font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
        font-size: 36px;
        color: #ffffff;
        position: absolute;
        left: 50%;
        top: 50%;
        line-height: 46px;
        font-weight: 400;
        font-style: normal;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        transform: translate(-50%, -50%);
    }
    .homepage-third-section .featured-block-inner {
        width: 98%;
        float: right;
        padding: 40px 20px 0;
        color: #6a6a6a;
        font-size: 17px;
        font-weight: 300;
        line-height: 1.7;
    }
    .slick-slider-a-container {
        width: 100%;
        height: 275px!important;
        overflow: hidden;
    }

    .homepage-third-section .slick-slider-a-container {
        width: unset;
        overflow: hidden;
        height: 275px;
    }

    .icon-wrapper {
        width: 100%;
        display: block;
        margin: auto;
    }
    #homepage-layerslider .second-para {
        font-size: 55px!important;
        line-height: 60px!important;
        margin-top: 58px!important;
    }
    .cormorant_heading{
        text-align: center;
    }

    .custom-container{
        padding: 0px 30px;
        width: 100%;
    }

    .homepage-third-section .featured-block-outer {
        background: #ffffff;
        width: 100%;
        height: 395px;
    }
    .section-header h3 {
        font-family: 'Herr Von Muellerhoff';
        font-size: 101px;
        line-height: 100px;
        font-style: normal;
        color: #d5d5d5;
    }
    .section-header h2 {
        font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
        font-size: 40px;
        font-style: normal;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 40px;
        line-height: 50px;
        color: #000;
        margin-top: 0px;
    }
    #article-main-slider{
        width: 100%!important;
        height: 100%!important;
        overflow: hidden;
    }

    #big-search-container .search-inner-container .close-icon {
        position: absolute;
        top: 30px;
        right: 30px;
        color: #ffffff;
        font-size: 65px;
    }

    .mfp-wrap {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%!important;
        z-index: 1043;
        position: fixed;
        outline: none !important;
        -webkit-backface-visibility: hidden;
    }

}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    }
}

@media screen and (max-width:430px){
    .contact-us-section1 {
        background: url(../images/contact-Us.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 250px;
        width: 100%;
        background-position: center;
    }

    .our-restaurant-section1 {
        background: url(../images/Main-Restaurant-Header-Photo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 250px;
        background-position: center;
    }

    .out-guest-room-section1 {
        background: url(../images/Main-Header-Photo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 250px;
        background-position: center;
        width: 100%;
    }

    .about-us-section1 {
        background: url(../images/about-new-banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 250px;
        background-position: center;
    }

    .our-setting-section1 {
        background: url(../images/setting-new-banner-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 250px;
        background-position: center;
    }

    .distilleries-section1 {
        background: url(../images/Distelleries.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 250px;
        background-position: center;
    }

    .historical-sites-section1 {
        background: url(../images/Scotland_header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 250px;
        background-position: center;
    }

    .beaches-and-walking-trails-section1 {
        background: url(../images/RoseIlse_Beach_2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 250px;
        background-position: center;
    }

    .golf-courses-section1 {
        background: url(../images/golf.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 250px;
        background-position: center;
    }

    .fishing-and-sailing-section1 {
        background: url(../images/sailing-Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 250px;
        background-position: center;
    }

    .reservation-section1 {
        background: url(../images/reservation.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 250px;
        background-position: center;
    }

    .banner-title {
        color: #ffffff;
        font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
        font-size: 35px;
        line-height: 58px;
        font-weight: 400;
        font-style: normal;
        text-transform: uppercase;
        text-decoration: none;
        word-wrap: break-word;
        text-align: center;
    }

    .paragraph-left-side-big-image{
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
        border: 0;
        display: inline-block;
        width: 100%!important;
    }
    .icon-wrapper {
        width: 100%;
        display: block;
        margin: auto;
        margin-bottom: 0px;
    }
    
    .header-logo-wrapper img{
        height: 80px;
        width: auto;
        margin: 15px 10px;
        margin-top: 0;
    }   

    #homepage-layerslider .second-para {
        font-size: 55px!important;
        line-height: 60px!important;
        margin-top: 58px!important;
    }
    .featured_block_inner{
        padding: 0px 15px;
    }
    .testimonial-slider .slide{
        padding: 0px 0px;
    }
    .post-slider .slider-arrow.left-arrow{
        left: 32%;
    }
    
    .post-slider .slider-arrow.right-arrow{
        right: 32%;
    }

    .fifth-section .featured-block-inner {
        width: 100%;
        float: left;
        padding: 30px 10px 30px 10px;
        color: #6a6a6a;
        font-size: 17px;
        font-weight: 300;
        background: #ffffff;
        line-height: 1.7;
    }

}

@media screen and (max-width:375px){
    .fifth-section .cmsmasters_button {
        background-color: #c19b76;
        color: #ffffff;
        border-width: 1px;
        padding: 12px 30px;
        border-style: solid;
        text-transform: uppercase;
        border-radius: 0;
        margin: 11px 0px;
    }
    .fb {
        line-height: 66px;
        font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
        font-size: 19px;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        font-weight: 300;
        font-style: italic;
        text-transform: none;
    }
    .homepage-third-section .featured-block-outer {
        background: #ffffff;
        width: 100%;
        height: 600px;
    }
    .seventh-section .inner-container {
        margin: 0px 4%;
        background-color: #f5f5f5;
        padding: 4% 4%;
    }
    .seventh-section .image-container {
        padding: 20px 20px;
        background: url(../images/Scotland.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom center;
    }
    .seventh-section .image-container .overlay {
        background: rgba(0,0,0,0.4);
        padding: 20px;
        text-align: center;
    }
    .section-header h3 {
        font-family: 'Herr Von Muellerhoff';
        font-size: 90px;
        line-height: 90px;
        font-style: normal;
        color: #d5d5d5;
    }
    .section-header h2 {
        font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
        font-style: normal;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 35px;
        line-height: 50px;
        color: #000;
        margin-top: 0px;
    }
    .our-restaurant-section3 .image-container .menu-container h2 {
        color: #ffffff;
        font-size: 22px;
        line-height: 38px;
        font-family: 'Cormorant', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
        font-weight: 400;
        font-style: normal;
        text-transform: uppercase;
        text-decoration: none;
        background: rgba(0,0,0,0.5);
        padding: 4px 15px;
        cursor: pointer;
    }
    #article-main-slider{
        width: 100%!important;
        height: 100%!important;
        overflow: hidden;
    }

    .homepage-third-section .featured-block-inner {
        width: 98%;
        float: right;
        padding: 20px 20px 0;
        color: #6a6a6a;
        font-size: 17px;
        font-weight: 300;
        line-height: 1.7;
    }    

    .custom-container {
        padding: 0px 15px;
        width: 100%;
    }

    .booking-recommended-text span{
        background: #b99470;
        color: #fff;
        padding: 8px 0px;
    }

    .fourth-sec-img-wrap {
        height: 350px;
        width: auto;
    }

}